// app global css in SCSS form


.text-brand-orange {
  color: #ff9212;
}
.bg-brand-orange {
  background: #ff9212;
}

.text-brand-blue {
  color: #04a0c3;
}
.bg-brand-blue {
  background: #04a0c3;
}

.text-brand-teal {
  color: #04c6f2;
}
.bg-brand-teal {
  background: #04c6f2;
}

.text-brand-purple {
  color: #ad7abc;
}
.bg-brand-purple {
  background: #ad7abc;
}

.text-brand-yellow {
  color: #eca825;
}
.bg-brand-yellow {
  background: #eca825;
}